* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.sidebar {
    background-color: #E0DFDF;
    height: 85vh;
    color: black;
    z-index: 2;
    height: calc(100vh - 9rem);
}

.sidebar ul {
    list-style: none;
}

.sidebar img {
    height: 2rem;
}

.sideLinks {
    text-decoration: none;
    color: black;
}

.sidebarLinks {
    font-size: 1.6rem;
}

.heading {
    margin: 3rem;
    font-size: 3rem;
}

.box {
    color: #05386B;
    height: 27.3rem;
    width: 24.8rem;
    border-radius: 2rem;
    margin: 0 1rem;
}

#box-1 {
    background-color: #2F82FF;
}

#box-2 {
    background-color: #0BFF68;
}

#box-3 {
    background-color: #FE594E;
}

#box-4 {
    background-color: #FCFF6C;
}

.box p {
    margin-top: 2rem;
    margin-bottom: 7rem;
    font-size: 2rem;
}

.box h1 {
    font-size: 6.5rem;
}

/* new ticket */

.new_ticket {
    /* border: 2px solid red; */
    font-size: 2rem;
}

.new_ticket label {
    /* border: 2px solid red; */
    font-size: 1.7rem;
}

.new_ticket input,
textarea {
    /* border: 2px solid red; */
    border: none;
    outline: none;
    background-color: #DADADA;
    border-radius: 0.6rem;
}

.new_ticket_btn {
    border: none;
    border-radius: 0.6rem;
    background-color: #55D6C2;

}

/* MyTicket */
.my_ticket {
    font-size: 1.6rem;
}

/* .searchBar {
    position: relative;
} */

.searchIcon {
    position: absolute;
    right: 96rem;
    transform: scale(2);
}


.data div {
    background-color: #DADADA;
}

.starIcon {
    color: #949494;
}

.coloredStar {
    color: #FFC632;
}

.inProgess {
    background: #5CDB95 !important;
    border-radius: 0.5rem;
}

.onHold {
    background: #05386B !important;
    border-radius: 0.5rem;
}

.closed {
    background: #494949 !important;
    border-radius: 0.5rem;
}